@model IEnumerable<WebQLMamNon.Models.Tbl_HocPhi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h1 style="margin-left:25px">Bảng học phí</h1>
@if (TempData["dd"] != null)
{
    <script>
        alert("Tháng này đã tạo bảng học phí");
    </script>
}
<p>
    @using (Html.BeginForm("TaoBangHP", "HocPhiHS", FormMethod.Get))
    {
        <input class="btn btn-primary" style="float:left;margin-left:25px" type="submit" value="Tạo mới bảng học phí" />
        @Html.DropDownList("maNamHoc", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 20px;margin-left:20px", @value = "maNamHoc" })
        @Html.DropDownList("maThang", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 10px", @value = "maThang" })
    }
</p>

<table class="table">
    <tr style="background:orange;font-size:15px">
        <th>
            Học Phí Tháng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.maThang-@item.maNamHoc
            </td>
            <td>
                @using (Html.BeginForm("HPChiTiet_View", "HocPhiHS", new { id = item.maHP }, FormMethod.Get))
                {
                    <input class="btn btn-danger" style="font-size:12px" type="submit" value="Xem bảng học phí" />
                    <input type="hidden" id="thang" name="thang" value="@item.maThang" />
                    <input type="hidden" id="nam" name="nam" value="@item.maNamHoc" />
                }
            </td>
        </tr>
    }

</table>