@model IEnumerable<WebQLMamNon.Models.Tbl_ChiTietLuong>

@{
    ViewBag.Title = "ChiTietLuong";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>ChiTietLuong</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       <th>Tên</th>
        <th>Số ngày làm</th>
        <th>Tổng lương</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soNgayLam)
        </td>
        <td>
            @(item.soTien * item.soNgayLam)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maChiTietLuong }) |
            @Html.ActionLink("Details", "Details", new { id=item.maChiTietLuong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maChiTietLuong })
        </td>
    </tr>
}

</table>
