@model IEnumerable<WebQLMamNon.Models.Tbl_LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_LoaiLop.tenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_LoaiLop.tenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maLop }) |
            @Html.ActionLink("Details", "Details", new { id=item.maLop }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maLop })
        </td>
    </tr>
}

</table>
