<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/giaovien.css" rel="stylesheet" />
    @*calender*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet">
    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
    @*calender*@
</head>
<body class="nav-md">
    <div class="container body">
        @*popup đổi mật khẩu*@
        <div class="modal fade bootstrapmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button data-dismiss="modal" class="close"><span>&times;</span></button>
                        <div class="modal-title"></div>
                    </div> <!--modal-header-->
                    <div class="modal-body">
                        <dl class="dl-horizontal" style="margin-right:50px">
                            @using (Html.BeginForm("DoiMatKhau", "TaiKhoan", FormMethod.Get))
                            {
                              
                                <dd style="margin-top:5px">
                                    <input type="text" id="matKhau" name="matKhau" class="form-control" placeholder="Mời nhập mật khẩu mới"  style="width:90%">
                                    <input type="hidden" value="@Session["maGV"].ToString()" id="id" name="id"/>
                                    @Html.Hidden("loai", this.Request.RawUrl)
                                </dd>
                                
                            }
                           
                        </dl>


                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Lưu" class="btn btn-danger" />

                        <button class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div><!--modal content-->

            </div>

        </div>
        @* kết thúc popup đổi mật khẩu*@
        
        @if (TempData["mk"] != null)
        {
            <script>
        alert("Bạn thay đổi mật khẩu thành công");
            </script>
        }
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","TaiKhoan")" class="site_title"><i class="fa fa-paw"></i> <span>Happy Smile!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/@Session["hinhAnh"]" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["UserName"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Mục lục</h3>
                            @if (Session["loaiTaiKhoan"].ToString() == "Teacher")
                            {
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="@Url.Action("Index","DiemDanhHS")"><i class="fa fa-desktop"></i> Điểm danh học sinh</a>
                                    </li>
                                </ul>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="@Url.Action("Edit","GiaoVien", new { @id=Session["maGV"] })"><i class="fa fa-desktop"></i>Cập nhập thông tin <span class="fa fa-chevron-down"></span></a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                    <ul class="nav side-menu">
                                        <li>
                                            <a><i class="fa fa-home"></i> Quản lý giáo viên  <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "DiemDanhGV")">Điểm danh</a></li>
                                                <li><a href="@Url.Action("Index", "GiaoVien")">Giáo viên</a></li>
                                                <li><a href="@Url.Action("Indexpl", "PhanCong")">Phân lớp</a></li>
                                                <li><a href="@Url.Action("Index", "TinhLuong")">Tính lương</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-edit"></i> Quản lý học sinh <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("IndexPhanLopHS", "Hocsinh")">Xếp lớp</a></li>
                                                <li><a href="@Url.Action("Index", "Hocsinh")">Học Sinh</a></li>
                                                <li><a href="@Url.Action("Index", "HocPhiHS")">Học Phí</a></li>
                                                <li><a href="@Url.Action("Index", "HSLenLop")">Lên Lớp</a></li>
                                            
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Ad_DiemDanhHS")"><i class="fa fa-desktop"></i> Điểm danh học sinh <span class="fa fa-chevron-down"></span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","BaiViet")"><i class="fa fa-book"></i> Quản lý bài viết</a>
                                        </li>
                                        <li> 
                                            <a><i class="fa fa-table"></i> Quản lý lớp <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "LopHoc", new { id = "L01" })">Mầm</a></li>
                                                <li><a href="@Url.Action("Index", "LopHoc", new { id = "L02" })">Chồi</a></li>
                                                <li><a href="@Url.Action("Index", "LopHoc", new { id = "L03" })">Lá</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-table"></i> Báo Cáo<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("BaoCaoLuong", "InBaoCao")">Báo Cáo Lương</a></li>                                              
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","NamHoc")"><i class="fa fa-blind"></i> Quản lý năm học </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","DanToc")"><i class="fa fa-blind"></i> Quản lý dân tộc </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","NgheNghiep")"><i class="fa fa-neuter"></i> Quản lý nghề nghiệp </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","TonGiao")"><i class="fa fa-globe"></i> Quản lý tôn giáo </a>
                                        </li>
                                    </ul>
                                    }
</div>                      
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@Session["UserName"]
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Hồ sơ</a></li>
                                    <li><a href="#" data-toggle="modal" data-target=".bootstrapmodal">Đổi mật khẩu</a></li>
                                    <li><a href="@Url.Action("LogOff","TaiKhoan")"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <div class="right_col">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- page content -->
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Happy Smile School
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    @*calender*@
    <script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    @*calender*@
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->

    <script src="~/vendors/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/js/custom.min.js"></script>
</body>
</html>
