@model IEnumerable<WebQLMamNon.Models.Tbl_HocSinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoTenCha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTenMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soDTNha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hoTenCha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTenMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soDTNha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhAnh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maHS }) |
            @Html.ActionLink("Details", "Details", new { id=item.maHS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maHS })
        </td>
    </tr>
}

</table>
