@model IEnumerable<WebQLMamNon.Models.Tbl_LopHoc>

@{
    ViewBag.Title = "IndexPhanLopHS";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@if (TempData["loi"] != null)
{
    <script>
        alert("Mỗi lớp tối đa 20 học sinh ");
    </script>
}
@if (TempData["Success"] != null)
{
    <script>
        alert("Xếp lớp học sinh thành công ");
    </script>
}
@if (TempData["hsdpl"] != null)
{
    <script>
        alert("Không có học sinh mới nào để phân lớp.");
    </script>
}
<h2>Phân Lớp Học Sinh</h2>


@using (Html.BeginForm("LoadLopTheoLoai", "HocSinh", FormMethod.Get))
{
    <div class="form-group" style="width:90%">
        @Html.DropDownList("maNamHoc", new SelectList(ViewBag.namhocs, "maNamHoc", "tenNamHoc"), htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 10px", @value = "maNamHoc" })
        @Html.DropDownList("maLoai", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 10px", @value = "maLoai" })
        @*@Html.DropDownList("maHS", null, htmlAttributes: new { @class = "form-control", @style = "width:25%; margin-right: 10px", @value = "maHS" })*@
    </div>

    <input style="padding-top:5px" class="btn btn-primary" type="submit" value="Xem theo lớp" />
}
<div class="row">
    <div class="col-md-5">
        <h4>Danh sách học sinh chưa phân lớp</h4>

        <table class="table" style="font-size-adjust:unset">
            <tr style="background:orange">

                <th>
                    Họ Tên
                </th>
                <th>
                    Ngày Sinh
                </th>
                <th>
                    Giới Tính
                </th>



            </tr>

            @{
                if (ViewBag.hocsinh != null)
                {
                    foreach (var item in ViewBag.hocsinh)
                    {
                        <tr>

                            <td style="text-align:left">
                                @item.hoTen
                            </td>

                            <td style="text-align:right">
                                @String.Format("{0:dd/MM/yyyy}", item.ngaySinh)
                            </td>

                            <td>
                                @item.gioiTinh
                            </td>

                        </tr>
                    }
                }
                else { TempData["hsdpl"] = "Không có học sinh mới nào để phân lớp."; }
            }

        </table>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h4>Danh sách học sinh đã phân lớp</h4>
        <table class="table">
            <tr style="background:orange;font-size:15px">
                <th>
                    Năm Học
                </th>
                <th>
                    Tên Lớp
                </th>
                <th>
                    Số lượng
                </th>


                <th></th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Session["getnamhoc"]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenLop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soLuongHS)

                    </td>


                    <td>
                        <form action="@Url.Action("PhanLopHS", "HocSinh",new { @maLop = item.maLop, @maNamHoc=item.maNamHoc, @maLoai=item.maLoai })" method="post" target="my_iframe">
                            <input type="submit" class="btn btn-primary" style="width: 100%;" value="Phân lớp" onclick="location.reload()" href="#" />
                            @Html.Hidden("loai", this.Request.RawUrl)
                        </form>
                        <form action="@Url.Action("PhanLopHSS", "HocSinh",new { @maLop = item.maLop, @maNamHoc=item.maNamHoc, @maLoai=item.maLoai })" method="post" target="my_iframe">

                            <input type="submit" class="btn btn-primary" style="width: 100%;" value="Xem lớp" href="#" onclick="document.getElementById('id01').style.display='block'" />
                        </form>
                        <div class="w3-container">
                            <div id="id01" class="w3-modal" style="margin-left:50px">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <h3>Danh Sách Học Sinh Phân Lớp</h3>
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <iframe name="my_iframe" id="my_iframe" style="border: unset;resize: vertical;height: 283px;width: 100%;"></iframe>
                                        <form action="@Url.Action("InDanhSachHSTheoLop", "InBaoCaoHS",new { @maLop = item.maLop, @maNamHoc=item.maNamHoc, @maLoai=item.maLoai })" method="post" target="my_iframe">

                                            <input type="submit" class="btn btn-primary" style="width: 100%;" value="In danh sách" href="#"/>
                                        </form>

                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
<div id="link">@Html.ActionLink("Về trang trước", null, null, null, new { @href = Request.UrlReferrer })</div>