@model IEnumerable<WebQLMamNon.Models.Tbl_HocSinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";

}
<h1>Quản lý học sinh</h1>

@using (Html.BeginForm("Create", "HocSinh", FormMethod.Get))
{
    <input class="btn btn-primary" style="float:left;margin-left:20px" type="submit" value="Thêm Học Sinh" />

}
<br />
<table class="table" border="1">
    <tr style="background:orange;font-size:15px">

        <th>
            Họ tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Giới tính
        </th>

        <th>
            Số điện thoại
        </th>

        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioiTinh)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.soDTNha)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                <a href="@Url.Action("Edit", "HocSinh",new { id = item.maHS })"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Details", "HocSinh",new { id = item.maHS })"><i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                @*xóa được học sinh nào chưa phân lớp*@
                <a href="#" id="@item.maHS" onclick="deletehs(this.id)"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    function deletehs(mahs) {
            if (confirm("Bạn muốn xóa học sinh này?")) {
                $.ajax({
                    type: 'POST',
                    url: '/HocSinh/Delete',
                    data: { id: mahs },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#tr-' + mahs).remove();
                            alert("Bạn xóa thành công");
                            window.location = "@Url.Action("Index","HocSinh")";
                        }
                        if (data.status == 1)
                            alert('Học sinh này đã được phân lớp. Xóa thất bại.');
                        window.location = "@Url.Action("Index","HocSinh")";

                    },
                    error: function (data) {
                        alert('Lỗi hệ thống');
                        window.location = "@Url.Action("Index", "HocSinh")";
                    }

                })
            }
        }

</script>

