@model IEnumerable<WebQLMamNon.Models.Tbl_HocSinh>
@{
    ViewBag.Title = "LoadHS";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<h2>Danh sách học sinh</h2>
<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soDTNha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soDTNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                <a href="@Url.Action("Edit", "HocSinh",new { id = item.maHS })"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Details", "HocSinh",new { id = item.maHS })"><i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                <a href="#" id="@item.maHS" onclick="return confirm('Bạn chắc muốn xóa')"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Quay lại", "IndexPhanLopHS")
</div>