@model IEnumerable<WebQLMamNon.Models.Tbl_HocSinh>

@{
    ViewBag.Title = "LoadHS";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Danh sách h?c sinh</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soDTNha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soDTNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maHS }) |
                @Html.ActionLink("Details", "Details", new { id = item.maHS }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maHS })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
