@model IEnumerable<WebQLMamNon.Models.Tbl_PhanLop>

@{
    ViewBag.Title = "PhanLopHS";
    Layout = null;
}
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->

<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Custom Theme Style -->
@*<link href="~/Content/css/custom.min.css" rel="stylesheet">*@
<link href="~/Content/giaovien.css" rel="stylesheet" />
@*calender*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet">

@if (TempData["loipc"] != null)
{
    <script>
        alert("Mỗi học sinh chỉ được thuộc 1 lớp trong 1 năm học");
    </script>
}
@if (TempData["loi"] != null)
{
    <script>
        alert("Mỗi lớp tối đa 20 học sinh ");
    </script>
}<body style=" background-color #f7f7f7;">
    <table class="table" style="margin: 7px;">
        <tr>
            <th>
                Năm Học
            </th>
            <th>
                Tên Lớp
            </th>
            <th>
                Tên Học Sinh
            </th>
            <th>

            </th>
            <th>
                Sỉ Số Học Sinh=
                @*@Model.Count()*@

            </th>



        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                   @Session["getnamhoc"]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_LopHoc.tenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_HocSinh.hoTen)
                </td>
                <td>
                    <a href="#" id="@item.idPhanLop" onclick="deletehs(this.id)"><i class="fa fa-trash" title="Xóa"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                </td>
                <td></td>

            </tr>
        }

    </table>
</body>


<script type="text/javascript">
    function deletehs(idPhanLop) {
            if (confirm("Bạn muốn xóa học sinh này ra khỏi phân lớp?")) {
                $.ajax({
                    type: 'POST',
                    url: '/HocSinh/DeleteHSPhanLop',
                    data: { id: idPhanLop },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#tr-' + idPhanLop).remove();
                            alert("Bạn xóa thành công");
                            @*window.location = "@Url.Action("Index","HocSinh")";*@
                        }
                        if (data.status == 1)
                            alert('Xóa thất bại');
                        window.location = "@Url.Action("PhanLopHSS","HocSinh")";

                    },
                    error: function (data) {
                        alert('Lỗi hệ thống');
                        window.location = "@Url.Action("PhanLopHSS", "HocSinh")";
                    }

                })
            }
        }

</script>