@model WebQLMamNon.Models.Tbl_GiaoVien

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<h4>Tạo Giáo Viên Mới</h4>
<form enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <hr />
            <div class="form-group">
                <label class="form-label">Họ Tên:</label><input type="text" id="hoTen" name="hoTen" class="form-control">
                @Html.ValidationMessageFor(model => model.hoTen, "", new { @class = "text-danger" })
            </div>

        <div class="form-group">
            <label class="form-label" >Ngày Sinh:</label><input type="date" id="ngaySinh" name="ngaySinh" class="form-control">
            @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="sel1" class="form-label">Trình Độ:</label>

            <select class="form-control" id="sel1" name="trinhDo">
                <option>Đại Học</option>
                <option>Cao Đẳng</option>
                <option>Trung Cấp</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Số Điện Thoại:</label><input type="text" id="soDT" name="soDT" class="form-control">
            @Html.ValidationMessageFor(model => model.soDT, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="form-label">Email:</label><input type="text" id="email" name="email" class="form-control">
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="form-label">Địa Chỉ:</label><input type="text" id="diaChi" name="diaChi" class="form-control">
            @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="sel1" class="form-label">Giới Tính:</label>

            <select class="form-control" id="sel1" name="gioiTinh">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1" class="form-label">Dân Tộc:</label>

            <select class="form-control" id="sel1" name="danToc">
                <option>Kinh</option>
                <option>Tày</option>
                <option>Ê Đê</option>
                <option>Mường</option>
                <option>Chăm</option>
                <option>Thái</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1" class="form-label">Tôn Giáo:</label>

            <select class="form-control" id="sel1" name="tonGiao">
                <option>Không</option>
                <option>Phật Giáo</option>
                <option>Thiên Chúa Giáo</option>
                <option>Hồi Giáo</option>
                <option>Tin Lành</option>
                <option>Cao Đài</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Hình ảnh:</label><input type="file" id="hinhAnh" name="hinhAnh" class="form-control">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="width:15%">
                <input type="submit" value="Lưu" class="btn btn-danger" style="margin-left:22px;margin-top:20px;padding-right:50px;padding-left:50px" />
            </div>
          
        </div>
    </div>
  

</form>
@using (Html.BeginForm("Index", "GiaoVien"))
            {

    <input type="submit" value="Hủy" class="btn btn-danger" style="margin-left: 380px; margin-top: -58px; padding-left: 50px;padding-right: 50px" />

}



