@model WebQLMamNon.Models.Tbl_GiaoVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<style>
    th {
        border: 1px dotted #4190b1;
    }

    tr {
        border: 1px dotted #4190b1;
    }

    td {
        border: 1px dotted #4190b1;
    }

    table {
        border: 1px dotted #4190b1;
    }
</style>
<h2>Chi Tiết Giáo Viên</h2>

<div class="form-horizontal" style="font-size:medium">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <img src="~/images/@Html.DisplayFor(model=>model.hinhAnh)" width="180px" height="240px" style="padding:1px;border:5px groove #ff6a00" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.hoTen, "Họ Tên:")  @Html.DisplayFor(model => model.hoTen)

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.trinhDo, "Trình Độ:")  @Html.DisplayFor(model => model.trinhDo)
            </div>
            <div class="form-group">
                @Html.Label("Ngày Sinh:") @String.Format("{0:d/M/yyyy}", Model.ngaySinh)

            </div>
            <div class="form-group">
                @Html.Label("Giới Tính:")
                @Html.DisplayFor(model => model.gioiTinh)

            </div>

            <div class="form-group">
                @Html.Label("Địa Chỉ:")
                @Html.DisplayFor(model => model.diaChi)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Tôn Giáo:")
                @Html.DisplayFor(model => model.Tbl_TonGiao.tenTonGiao)
            </div>
            <div class="form-group">
                @Html.Label("Số Điện Thoại")
                @Html.DisplayFor(model => model.soDT)
            </div>

            <div class="form-group">
                @Html.Label("Dân Tộc:")
                @Html.DisplayFor(model => model.Tbl_DanToc.tenDanToc)

            </div>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Sửa Thông Tin", "Edit", new { id = Model.maGV }) |
    @Html.ActionLink("Trở Về", "Index")
</p>
