@model WebQLMamNon.Models.Tbl_GiaoVien

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Chỉnh Sửa Giáo Viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.maGV)

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Họ Tên:</label>
            <div class="col-md-10" style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hoTen, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Trình Độ:</label>
            <div class="col-md-10" style="margin-left: 150px;margin-top: -30px;">
               @if (Session["maGV"].ToString() == "GV01")
               {
                <select class="form-control" id="sel1" name="trinhDo" >
                    
                    <option>@Html.DisplayFor(model => model.trinhDo, new { htmlAttributes = new { @class = "form-control" } })</option>
                    <option>Đại Học</option>
                    <option>Cao Đẳng</option>
                    <option>Trung Cấp</option>
                </select>
               }




            </div>
        </div>
        
        

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Số Điện Thoại:</label>
            <div class="col-md-10" style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.soDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.soDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Ngày Sinh:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Email:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Địa Chỉ:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Giới Tính:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                <select class="form-control" id="sel1" name="gioiTinh">
                    <option>@Html.DisplayFor(model => model.gioiTinh, new { htmlAttributes = new { @class = "form-control" } })</option>
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Tôn Giáo:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                <select class="form-control" id="sel1" name="tonGiao">
                    <option>@Html.DisplayFor(model => model.tonGiao, new { htmlAttributes = new { @class = "form-control" } })</option>
                    <option>Không</option>
                    <option>Phật Giáo</option>
                    <option>Thiên Chúa Giáo</option>
                    <option>Hồi Giáo</option>
                    <option>Tin Lành</option>
                    <option>Cao Đài</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Dân Tộc:</label>
            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                <select class="form-control" id="sel1" name="danToc">
                    <option>@Html.DisplayFor(model => model.danToc, new { htmlAttributes = new { @class = "form-control" } })</option>
                    <option>Kinh</option>
                    <option>Tày</option>
                    <option>Ê Đê</option>
                    <option>Mường</option>
                    <option>Chăm</option>
                    <option>Thái</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="sel1" class="form-label col-md-2">Hình Ảnh:</label>
            <div>
                <img src="~/images/@Html.DisplayFor(model => model.hinhAnh)" style="width:80px;height:80px;" alt="Generic placeholder image">
            </div>

            <div class="col-md-10"style="margin-left: 150px;margin-top: -30px;">
                @Html.EditorFor(model => model.hinhAnh, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-10" style="margin-left: 150px;margin-top: -30px;">
                <input type="file" id="fp" name="fp" class="form-control">
                    @Html.ValidationMessageFor(model => model.hinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Index", "GiaoVien", FormMethod.Get))
{


    <input type="submit" value="Hủy" class="btn" />

}