@model IEnumerable<WebQLMamNon.Models.Tbl_GiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Danh Sách Giáo Viên</h2>
@using (Html.BeginForm("Create", "GiaoVien", FormMethod.Get))
{
    <input type="submit" value="Thêm giáo viên" />

}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trinhDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trinhDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhAnh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maGV }) |
            @Html.ActionLink("Details", "Details", new { id=item.maGV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maGV })
        </td>
    </tr>
}

</table>
