@model IEnumerable<WebQLMamNon.Models.Tbl_PhanCong>
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->

<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/Content/css/custom.min.css" rel="stylesheet">
<link href="~/Content/giaovien.css" rel="stylesheet" />
<body style="background-color: #f7f7f7;">
    @{
        ViewBag.Title = "Indexpl";
        Layout = null;
    }
    @if (TempData["loipc"] != null)
    {
        <script>
            alert("Mỗi giáo viên chỉ được dạy 1 lớp");
        </script>
    }
    @if (TempData["loi"] != null)
    {
        <script>
            alert("Mỗi lớp tối đa 2 giáo viên ");
        </script>
    }
    @if (TempData["loinull"] != null)
    {
        <script>
            alert("Hiện tại không có giáo viên hoặc không có lớp trống");
        </script>
    }
    @if (TempData["loitd"] != null)
    {
        <script>
            alert("Không có giáo viên để phân công");
        </script>
    }

    <h2 style="margin-left:20px">Danh Sách Phân Công</h2>


    @using (Html.BeginForm("LichSuPhanCong", "PhanCong", FormMethod.Get))
    {
        <input class="btn btn-primary" style="float:right;margin-right:25px" type="submit" value="Lịch Sử Phân Công" />
    }
    <table class="table">
        <tr style="background:orange;font-size:15px">
            <th>
                Lớp
            </th>
            <th>
                Giáo viên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_LopHoc.tenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
                </td>
                <td>



                    @using (Html.BeginForm("ThaydoiGV", "PhanCong", new { id = Html.DisplayFor(modelItem => item.Tbl_LopHoc.maLop) }, FormMethod.Get))
                    {
                        @Html.DropDownList("maGV", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; margin-right: 10px", @value = "maGV" })
                        @Html.Hidden("loai", this.Request.RawUrl)
                        <input type="submit" value="Thay đổi giáo viên" name="maLop" id="maLop" />
                        <input type="hidden" id="maGVcu" name="maGVcu" value="@item.Tbl_GiaoVien.maGV" />
                    }
                </td>
            </tr>
        }

    </table>
</body>