@model IEnumerable<WebQLMamNon.Models.Tbl_PhanCong>

@{
    ViewBag.Title = "Indexpl";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
@if (TempData["loipc"] != null)
{
    <script>
        alert("Mỗi giáo viên chỉ được dạy 1 lớp");
    </script>
}
@if (TempData["loi"] != null)
{
    <script>
        alert("Mỗi lớp tối đa 2 giáo viên ");
    </script>
}
@if (TempData["loinull"] != null)
{
    <script>
        alert("Hiện tại không có giáo viên hoặc không có lớp trống");
    </script>
}

<h1 style="margin-left:20px">Phân công</h1>

@*popup đổi mật khẩu*@
<div class="modal fade bootstrapmodall">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                <div class="modal-title"></div>
            </div> <!--modal-header-->
            <div class="modal-body">
                <dl class="dl-horizontal" style="margin-right:50px">
                    @using (Html.BeginForm("ThaydoiGV", "PhanCong", FormMethod.Post))
                    {

                        <dd style="margin-top:5px">
                            <input type="submit" value="Lưu" class="btn btn-danger" />
                            @Html.DropDownList("maGV", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; margin-right: 10px", @value = "maGV" })
                            @Html.Hidden("loai", this.Request.RawUrl)
                        </dd>
                    }

                </dl>
            </div>
            <div class="modal-footer">
                
                <button class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div><!--modal content-->

    </div>

</div>
@* kết thúc popup đổi mật khẩu*@

@using (Html.BeginForm("PhanCong", "PhanCong",FormMethod.Get))
{
    <div class="form-group" style="float:left;width:70%;margin-left:20px">
        @Html.DropDownList("maLop", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 10px",@value="maLop"})
        @Html.DropDownList("maGV", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; margin-right: 10px",@value="maGV" })
    </div>
    <input class="btn btn-primary" style="float:right;margin-right:25px" type="submit" value="Phân công" />
}
@using (Html.BeginForm("LichSuPhanCong", "PhanCong", FormMethod.Get))
{
    <input class="btn btn-primary" style="float:right;margin-right:25px" type="submit" value="Lịch Sử Phân Công" />
}
    <table class="table">
        <tr style="background:orange;font-size:15px">
           <th>
                Lớp
            </th>
            <th>
                Giáo viên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_LopHoc.tenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
                </td>
             <td>
                 @using (Html.BeginForm("ThaydoiGV", "PhanCong", FormMethod.Get))
                 {
                   <a href="#" data-toggle="modal" data-target=".bootstrapmodall">Thay đổi giáo viên</a>
                   <input type="hidden"  value="@item.Tbl_LopHoc.maLop" name="maLop" id="maLop"/>
                 }
                </td>
            </tr>
        }

    </table>
