@model WebQLMamNon.Models.Tbl_BaiViet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Cập Nhật Bài Viết</h2>


<style>
    .col-md-offset-3 .col-md-10 {
        padding-top: 5px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Danh sách bài viết</h4>
        <hr />

        <div class="row">
            <div class="col-md-3">
                <img src="~/images/@Html.DisplayFor(model=>model.hinhBV)" width="180px" height="240px" style="border:5px groove #ff6a00" />
                <input type="file" id="hinhBV" name="hinhBV" />
            </div>
            <div class="col-md-offset-3">
                <br />
                <div>
                    @Html.LabelFor(model => model.tenBaiViet, "Tên bài viết: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tenBaiViet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenBaiViet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.noiDung, "Nội dung: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.noiDung, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.ngayDang, "Ngày Đăng: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="ngayDang" value="@ViewBag.birth" class="form-control" />
                        @Html.ValidationMessageFor(model => model.ngayDang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.Label("Loại Bài Viết: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("maLoai", new SelectList(ViewBag.maLoai, "maLoai", "tenLoai"), htmlAttributes: new { @class = "form-control", @style = "width:40%; float: left", @value = "maLoai" })
                    </div>
                </div>
                <div>
                    <div class="col-md-offset-2 col-md-10">
                        <h6>Vui lòng kiểm tra kỹ trước khi LƯU</h6>
                        <input type="submit" value="Lưu" class="btn btn-default" style="background-color:#0094ff" />

                    </div>
                </div>
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>