@model IEnumerable<WebQLMamNon.Models.Tbl_BaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Danh sách Bài Viết</h2>

<p>
    @using (Html.BeginForm("Create", "BaiViet", FormMethod.Get))
    {
        <input type="submit" class="btn btn-primary" value="Thêm mới" />
    }
</p>
<table class="table" border="1">
    <tr style="background:orange;font-size:15px">
        <th>
            Tên Bài Viết
        </th>

        <th>
            Nội Dung
        </th>
        <th>
            Ngày Đăng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.tenBaiViet)
            </td>
            <td style="text-align:left">
                @if (item.noiDung.Length < 50)
                {
                    @Html.DisplayFor(modelItem => item.noiDung)
                }
                else
                {

                    @item.noiDung.Substring(0, 50)<span>,...</span>

                }

            </td>

            <td>
                @String.Format("{0:dd/MM/yyyy}", Html.DisplayFor(modelItem => item.ngayDang))
            </td>
            <td>
                <a href="@Url.Action("Edit", "BaiViet", new { id = item.maBaiViet })"><i class="fa fa-wrench" title="Chỉnh Sửa"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Details", "BaiViet", new { id = item.maBaiViet })"><i class="fa fa-book" title="Xem Chi Tiết"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;

                <a href="@Url.Action("Delete", "BaiViet", new { id = item.maBaiViet })"><i class="fa fa-trash" title="Xóa"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    }

</table>