@model IEnumerable<WebQLMamNon.Models.Tbl_BaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Bài Viết:
        </th>

        <th>
            Nội Dung:
        </th>
        <th>
            Ngày Đăng:
        </th>
        <th>
            Người Đăng:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenBaiViet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noiDung)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ngayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maBaiViet }) |
                @Html.ActionLink("Details", "Details", new { id = item.maBaiViet }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maBaiViet })
            </td>
        </tr>
    }

</table>